.navbar{
	height: 80px;
	background: #0b3b54;
	color: #c9a920;
	position: relative;
	display: flex;
}

.logo_text
{
	display: inline-block;
	font-size: 24px;
	font-family: Arial, sans-serif;
	font-weight: bolder;
	float: left;
	margin-left: 24px;
	margin-right: 48px;
	margin-top: auto;
	margin-bottom: auto;
}

.navigation
{
	display: inline-block;
	margin-top: auto;
	margin-bottom: auto;
	float: left;
}

.header
{
	margin: 0px 0px;
	padding: 12px 24px;
}
.header h1
{
	font-size: 18px;
	font-family: Arial, sans-serif;
}


.main
{
	margin: 0 auto;
	position: relative;
}
.picture
{
	float: left;
	padding: 0px 12px 0px 24px;
}
.text{
	text-align: left;
	margin:  0px 0px;
	padding: 0px 0px 0px 0px;
	width: 600px;
	float: left;
	font-family: Arial, sans-serif;
}

.form{
    float: right;
    border: 1px solid #000;
    padding: 10px 10px;
    margin: 5px 0 5px 10px;
    width: 200px;
    font-size: 18px;
}

body { 
	margin: 0; 
	background-color:#f5f5f5;
	width: 1000px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	float: center;
}

li {
    float: left;
}

li a {
    display: block;
    color: #c9a920;
	font-size: 18px;
	font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}